.tarjetaUsuario{
  font-size: 85%;
  text-align: center;
  background: #F8F9F9;
}
.tarjetaUsuario h3{
  text-align: center;
}

.datosUsuario {
  border: #E5E7E9 3px solid ; 
  border-radius: 20px;
  background:#E5E7E9  ;
}

.opciones{
  float: left;
  color: #C3CDCC;
  height:  100vh;
  border: #6A7170 5px solid ;
  background: #6A7170;
}

.opciones h4{
 border-bottom: 1px solid #E3E3E3;
}

.tabla{
  float: right;
  height: 100vh;
  width: 84.9%;
  background: #fff;
}

.tabla table{
  margin-top: 10%; 
  margin-left: 1%; 
  text-align: center;
  width: 98%;
  background: #fff;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.2);
}
